body ul{
	list-style-type: none;
}

body {
	font-family: "courier new";

}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: grey;
}

a:active {
    color: lightgrey;
}

a {
    text-decoration: none;
}

.myName {
	font-family: "Arial Black";
}

.nav {    
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}